@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Reem+Kufi+Fun:wght@600&display=swap');

body {
    background: #ffffff;
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #000000;
}

.logo {
    width: 50px;
    height: 50px;
}

.heading {
    font-family: 'Reem Kufi Fun', sans-serif;
    color: #000000;
    font-size: 20px;
    display: flex;
    align-items: center;
}


.main-container {
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: auto;
}

.box-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 850px;
    gap: 20px;
}

.box {
    width: 200px;
    height: 200px;
    outline: 1px solid white;
    outline-offset: 2px;
    background-color: rgba(190, 189, 189, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.image {
    width: 80px;
    height: 80px;
}

.text-decoration {
    font-family: 'Reem Kufi Fun', sans-serif;
    font-size: 20px;
    font-weight: 500px;

}

.box-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 850px;
    gap: 5px;
    font-family: 'Playfair Display', serif;
}

.box-container21 {
    width: 335px;
    height: fit-content;
    padding: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.box2 {
    width: 300px;
    height: 35px;
}

.product-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.product-text {
    display: flex;
    justify-content: flex-start;
}

.product-button {
    display: flex;
    width: 150px;
    height: 30px;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid #000000;
}

.product-gap {
    gap: 10px;
}

.input-box {
    padding-bottom: 10px;
}

.input {
    display: flex;
}

.qty-input {
    display: flex;
    border: 1px solid #a7a7a7;
    width: 140px;
    height: 30px;
    align-items: center;
    justify-content: flex-end;
    padding-left: 10px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-inline: 20px;
    padding-bottom:10px;
    padding-top:10px;
}

.calculation {
    line-height: 1.8;
}

.align {
    text-align: right;
}

.green-text {
    color: rgb(0, 122, 6);
}

.red-text{
    color: #ff0000;
}


.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.button {
    align-items: center;
    background-color: #fff;
    border: 1.5px solid #000;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    height: 38px;
    justify-content: center;
    letter-spacing: -.8px;
    min-width: 100px;
    padding: 0 17px;
}

.button:focus {
    color: #171e29;
}

.button:hover {
    text-decoration: none;
    transition-duration: 0.1s;
}

.button:focus {
    outline: 1px transparent;
}

.dis-flex {
    display: flex;
    align-items: center;
    gap: 36px;
}

.left-container {
    width: 50%;

}

.right-container {
    width: 50%;
    color: #414141;
}

.total {
    color: #000;
}
